# Fail2Ban configuration file
#
#
# $Revision: 1 $
#

[Definition]
# Option: failregex
# Notes.: Regexp to catch known dodgy paths. Please verify
# that it is your intent to block IPs which were driven by
# abovementioned bots.
# Values: TEXT
#
failregex = <HOST> - - .* "GET .*/(currentsetting.htm|portal/redlion|w00tw00t.at.blackhats.romanian.anti-sec|solr/admin/info/system?wt=json|vendor/phpunit/phpunit/src/Util/PHP/eval-stdin.php|\?XDEBUG_SESSION_START=phpstorm|console/|phpMyAdmin/scripts/setup.php|.env|elrekt.php|TP/html/public/index.php|TP/index.php|TP/public/index.php|thinkphp/html/public/index.php|wp-login.php|wp-content/plugins/wp-file-manager/readme.txt|c/version.js|streaming/clients_live.php|stalker_portal/c/version.js).* HTTP/.*" (200|401|403|500|404)

# Option: ignoreregex
# Notes.: regex to ignore. If this regex matches, the line is ignored.
# Values: TEXT
#
ignoreregex =
